node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
.npm
.node_repl_history

# Miscellaneous
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.gitlab-ci.yml
.idea/
.vs/
.vscode/
*.seed
*.patch
.dockerignore

# Build outputs
dist/
build/
out/

# Playwright
# Playwright test results
test-results/

# Playwright screenshots
screenshots/

# Playwright videos
videos/

# Playwright traces
traces/

# Playwright report
playwright-report/

.DS_Store
reports/